body{
    margin: 0;
    font-family: 'Lato', sans-serif;;
}
h1{
    font-size: 45px;
}
p{
    font-weight:500;
}
.myname{
    color: orange;
}
.top-section{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dubble-section{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    padding-left: 5%;
    width: 50%;
}
.half-width img{
    width: 80%;
}
.hire-me{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    background-image: linear-gradient(Orange, tomato);
    color: white;
    font-weight: 500;    
}
.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.last-section{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray; 
    box-sizing: border-box;
}
#bottom-left{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#bottom-right{
    border-left: 7px solid;
    border-image: linear-gradient(red, black);
    border-image-slice: 1;
}